.section-header {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 0 5px;
  color: #7859CF;
}

.section-header--catalog {
  padding-top: 50px;
  margin-bottom: -15px;
}
