.catalog {
  background-color: #F8F8F8;
}

.catalog__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.catalog__sorting-form {
  margin-bottom: 46px;
}

.catalog__sorting {
  position: relative;
  display: flex;
  margin-bottom: 18px;
}

.catalog__sorting-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 10px 0 23px;
}

.catalog__sorting-group {
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  color: #7859CF;
  background-color: transparent;
  appearance: none;
  overflow: hidden;
  width: 160px;
  padding-left: 10px;
  background-image: url("../../images/sort-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position-x: 144px;
  background-position-y: 8px;

  &:active {
    background-image: url("../../images/sort-arrow-up.svg");
  }
}

.catalog__products {
  margin-bottom: 21px;
}

.catalog__pagination {
  margin-left: 20px;
  padding-bottom: 45px;
}

.catalog__pagination-button {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 13px 10px 11px;
}

.catalog__pagination-number {
  color: #7859CF;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 10px 13px 10px 17px;
  margin-right: 18px;
}

.catalog__pagination-number--active {
  cursor: default;
  background-color: transparent;
  color: #333333;
}

.catalog__pagination-back {
  margin-right: 16px;
}
