.catalog {
  background-color: #f8f8f8;
}

.catalog__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 21px;

  & span {
    margin-left: -6px;
  }
}

.catalog__sorting-form {
  margin-bottom: 46px;
}

.catalog__sorting {
  position: relative;
  display: flex;
  margin-bottom: 18px;
}

.catalog__sorting-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 10px 0 23px;
}

.catalog__sorting-group {
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  color: #7859cf;
  background-color: transparent;
  appearance: none;
  overflow: hidden;
  width: 160px;
  padding-left: 10px;
  background-image: url("../../images/sort-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position-x: 144px;
  background-position-y: 8px;
  outline: none;

  &:active {
    background-image: url("../../images/sort-arrow-up.svg");
  }

  &:focus,
  &:hover {
    background-color: #f0ebff;
  }
}

.catalog__products {
  margin-bottom: 17px;
}

.catalog__pagination {
  margin-left: 20px;
  padding-bottom: 40px;
}

.catalog__pagination-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7859cf;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 12px 17px 11px;
  border-radius: 4px;

  & svg {
    fill: #7859cf;
  }

  & span {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: #9070ec;
  }

  &:hover svg,
  &:focus svg,
  &:active svg,
  &:disabled svg {
    fill: #ffffff;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #e2e2e2;
  }
}

.catalog__pagination-number {
  color: #7859cf;
  background-color: #ffffff;
  text-decoration: none;
  padding: 10px 13px 10px 17px;
  margin-right: 18px;
  border-radius: 4px;

  &:hover:not(.catalog__pagination-number--active),
  &:focus:not(.catalog__pagination-number--active),
  &:active:not(.catalog__pagination-number--active),
  &:disabled:not(.catalog__pagination-number--active) {
    color: #ffffff;
  }

  &:hover:not(.catalog__pagination-number--active),
  &:focus:not(.catalog__pagination-number--active) {
    background-color: #9070ec;
  }

  &:active:not(.catalog__pagination-number--active) {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #e2e2e2;
  }
}

.catalog__pagination-number--active {
  cursor: default;
  background-color: transparent;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.catalog__pagination-back {
  margin-right: 16px;
}

@media (min-width: $tablet-width) {
  .catalog__header {
    font-size: 42px;
    line-height: 64px;
    margin: 20px 0;

    & span {
      margin: 0;
    }
  }

  .catalog__sorting-form {
    margin-bottom: 24px;
  }

  .catalog__sorting {
    margin-left: 444px;
    margin-right: 11px;
    margin-bottom: 28px;
  }

  .catalog__products {
    margin-bottom: 50px;
  }

  .catalog__pagination {
    margin-left: 352px;
    padding-bottom: 91px;
  }

  .catalog__pagination-button {
    width: 94px;
    padding-top: 10px;
    padding-bottom: 6px;
    letter-spacing: 0.9px;

    & svg {
      display: none;
    }

    & span {
      display: inline-block;
    }

    &:hover,
    &:focus {
      color: #ffffff;
    }
  }

  .catalog__pagination-number {
    padding-left: 16px;
  }

  .catalog__pagination-forward {
    width: 105px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__sorting-products-flex-wrapper {
    position: relative;
    display: flex;
  }

  .catalog__header {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .catalog__sorting {
    position: absolute;
    left: 652px;
  }

  .catalog__products {
    margin-top: 52px;
    margin-bottom: 40px;
  }

  .catalog__pagination {
    margin-left: 1004px;
    padding-bottom: 121px;
  }
}
