.features__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.features__grid-wrapper {
  display: grid;
}

.features__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0 0 34px;

  & span:nth-child(1) {
    margin-left: -6px;
  }
}

.features__icon {
  margin-bottom: 11px;
}

.features__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__feature-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 0 4px;
}

.features__feature-description {
  min-width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 31px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .features br {
    display: none;
  }

  .features__flex-wrapper {
    margin-bottom: 69px;
  }

  .features__grid-wrapper {
    grid-template-columns: 355px 366px;
    gap: 18px 16px;
    margin-left: 31px;
  }

  .features__header {
    font-size: 42px;
    line-height: 63px;
    margin-left: -5px;
    margin-bottom: 60px;

    & span:nth-child(2) {
      margin-left: 5px;
      line-height: 64px;
    }
  }

  .features__feature {
    flex-direction: row;
    align-items: flex-start;
  }

  .features__feature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features__feature-header {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 11px;
  }

  .features__feature-description {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    min-width: auto;
    width: 270px;
  }

  .features__feature-description--eco {
    width: 200px;
  }

  .features__icon--speed {
    margin-top: 4px;
    margin-right: 21px;
  }

  .features__icon--courage {
    margin-left: 4px;
    margin-top: 1px;
    margin-right: 25px;
  }

  .features__icon--convenience {
    margin-left: -2px;
    margin-top: -1px;
    margin-right: 19px;
  }

  .features__icon--eco {
    margin-top: 5px;
    margin-right: 23px;
  }
}

@media (min-width: $desktop-width) {
  .features__flex-wrapper {
    margin-bottom: 88px;
  }

  .features__grid-wrapper {
    grid-template-columns: 320px 320px 320px 320px;
    gap: 38px;
  }

  .features__feature {
    flex-direction: column;
    align-items: center;
  }

  .features__feature-wrapper {
    align-items: center;
  }

  .features__header {
    margin-left: 6px;
    margin-bottom: 80px;

    & span {
      margin: 0;
      line-height: inherit;
    }

    & span:nth-child(2) {
      margin-left: -1px;
    }
  }

  .features__feature-header {
    margin-bottom: 10px;
  }

  .features__feature-header--speed {
    margin-left: 2px;
  }

  .features__feature-header--convenience {
    margin-left: -19px;
  }

  .features__feature-header--courage {
    margin-left: -41px;
  }

  .features__feature-header--eco {
    margin-left: -61px;
  }

  .features__feature-description {
    text-align: center;
    width: 320px;

    & br {
      display: inline;
    }
  }

  .features__feature-description--convenience {
    width: 270px;
    margin-left: -20px;
  }

  .features__feature-description--courage {
    margin-left: -42px;
  }

  .features__feature-description--eco {
    margin-left: -60px;
  }

  .features__icon--speed {
    margin: 0 0 0 1px;
  }

  .features__icon--convenience {
    margin: 0 0 0 -19px;
  }

  .features__icon--courage {
    margin: 0 0 0 -41px;
  }

  .features__icon--eco {
    margin: 0 0 0 -60px;
  }

  .features__icon {
    margin-bottom: 20px;
  }
}
