.form__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 20px 20px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__submit-button {
  color: #FFFFFF;
  letter-spacing: 1.65px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 9px 90px 7px 93px;
}

.form__clear-button {
  color: #7859CF;
  letter-spacing: 1.3px;
  background-color: #FFFFFF;
  margin-left: 20px;
  padding: 9px 99px 7px 100px;
}



