.form__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 20px 20px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__submit-button {
  color: #FFFFFF;
  letter-spacing: 1.65px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 9px 90px 7px 93px;
}

.form__clear-button {
  color: #7859CF;
  letter-spacing: 1.3px;
  background-color: #FFFFFF;
  margin-left: 20px;
  padding: 9px 99px 7px 100px;

  &:focus, &:hover {
    background-color: #9070EC;
    color: #FFFFFF;
  }

  &:active {
    background-color: #593CAC;
    color: #FFFFFF;
  }

  &:disabled {
    background-color: #BDBDBD;
    color: #FFFFFF;
  }
}

@media (min-width: $tablet-width) {

  .form__fieldset-flex-wrapper {
    display: flex;
  }

  .form__buttons-wrapper {
    margin-left: 226px;
    margin-top: 9px;
  }

  .form__submit-button {
    width: 137px;
    padding: 8px 4px 8px 8px;
    margin-right: -4px;
  }

  .form__clear-button {
    width: 120px;
    padding: 10px 10px 10px 11px;
  }
}
