.header__flex-wrapper {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.header__logo {
  margin-left: 20px;
  margin-right: 110px;
}

.header__login-button {
  margin-right: 44px;
}

.header__cart-button {
  margin-right: 44px;
}
