.header__flex-wrapper {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 9px;
}

.header__logo {
  margin-left: 20px;
  margin-right: 100px;
}

.header__login-button {
  margin-right: 24px;
}

.header__cart-button {
  margin-right: 23px;
  width: 17px;
}

.header__link {
  padding: 10px;
  background-color: transparent;

  &:active {
    background-color: #F0EBFF;
  }
}

.header__burger-menu-open {
  cursor: pointer;
  border: none;
  padding: 13px 10px 12px 10px;
}
