.slider {
  position: relative;
  background-color: #F3EBE1;
  margin-bottom: 50px;
}

.slider__flat-white-img {
  margin: 20px 20px 5px;
}

@media (min-width: $tablet-width) {

  .slider__slide-description {
    margin-bottom: 188px;
  }

  .slider__flat-white-img {
    position: absolute;
    left: 126px;
    top: 332px;
    width: 476px;
    height: 476px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin: 0;
  }

  .slider__slide-description {
    margin: 0;
  }

  .slider__flat-white-img {
    width: 600px;
    height: 600px;
    left: 85px;
    top: 10px;
  }
}
