.slider {
  position: relative;
  background-color: #f3ebe1;
  margin-bottom: 49px;
}

.slider__img {
  margin: 20px 20px 5px;
}

.slider__switcher {
  position: absolute;
  top: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;

  & svg {
    fill: #7859cf;
  }

  &:disabled svg {
    fill: #bdbdbd;
  }
}

.slider__switcher-left {
  left: -6px;

  &:hover {
    background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25), rgba(120, 89, 207, 0));
  }
}

.slider__switcher-right {
  right: -6px;

  &:hover {
    background-image: linear-gradient(270deg, rgba(120, 89, 207, 0.25), rgba(120, 89, 207, 0));
  }
}

.slider__pagination {
  display: none;
  position: absolute;
  top: 641px;
  left: 619px;
}

.slider__pagination-button {
  cursor: pointer;
  width: 62px;
  border: 2px solid #ffffff;
  background: transparent;
  padding: 0;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    border-color: rgba(120, 89, 207, 0.25);
  }
}

.slider__pagination-button--active {
  border-color: #7859cf;

  &:hover,
  &:focus {
    border-color: #7859cf;
  }
}

@media (min-width: $tablet-width) {
  .slider__slide-description {
    margin-bottom: 188px;
  }

  .slider__img {
    position: absolute;
    left: 126px;
    top: 332px;
    width: 476px;
    height: 476px;
  }

  .slider__switcher {
    padding: 0 20px;
  }

  .slider__switcher-left {
    left: 14px;
  }

  .slider__switcher-right {
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin: 0;
  }

  .slider__slide-description {
    margin: 0;
  }

  .slider__img {
    width: 600px;
    height: 600px;
    left: 85px;
    top: 11px;
  }

  .slider__switcher {
    padding: 0 30px;
  }

  .slider__switcher-left {
    left: 4px;
    top: 2px;
  }

  .slider__switcher-right {
    right: 4px;
    top: 2px;
  }

  .slider__pagination {
    display: flex;
  }
}
