.slide-description__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.8px;
  margin: 0 10px 10px 0;

  & span {
    margin-left: 10px;
  }
}

.slide-description__description {
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0 0 21px 19px;

  & br {
    display: none;
  }
}

.slide-description__description--lavender,
.slide-description__description--espresso{
  margin-bottom: 40px;
}

.slide-description__flex-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.slide-description__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 46px;
  margin-right: 21px;

  &:before {
    content: "295₽";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: line-through;
    color: #7859CF;
    margin-right: 5px;
  }
}

.slide-description__price--lavender:before {
  content: "285₽"
}

.slide-description__price--espresso:before {
  content: "395₽";
}

.slide-description__order-button {
  letter-spacing: 1px;
  padding: 9px 20px 7px;
  color: #FFFFFF;
}

@media (min-width: $tablet-width) {
  .slide-description__header {
    font-size: 56px;
    line-height: 79px;
    letter-spacing: 1.1px;
    margin-left: 12px;
    margin-bottom: 16px;

    & span {
      margin: 0;
    }
  }

  .slide-description__description {
    font-size: 20px;
    line-height: 32px;
    width: 570px;
    margin-left: 100px;
    margin-bottom: 21px;

    & br {
      display: inline;
    }
  }

  .slide-description__price {
    margin-left: 270px;
  }

  .slide-description__flex-wrapper {
    padding-bottom: 307px;
  }
}

@media (min-width: $desktop-width) {
  .slide-description__flex-wrapper {
    padding-bottom: 241px;
  }
  .slide-description__header {
    margin-left: 580px;
    margin-bottom: 16px;
  }

  .slide-description__description {
    text-align: left;
    margin-left: 735px;
    margin-bottom: 41px;
  }

  .slide-description__price {
    margin-left: 736px;
  }
}
